---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import VinCard from "../components/VinCard.astro";
import Accordion from "../components/Accordion.astro";
---
<MainLayout title="Naturvinskassen">

	<div class="relative w-[455px] mt-[30px] mx-auto h-[755px] flex flex-col items-center md:w-[900px] md:h-[800px] md:mt-[80px]">
		<!-- Billeder (Mobile & Desktop) -->
		<div class="absolute flex justify-center w-full top-[110px] z-0 md:top-[93px] md:gap-[8px]">
		  <!-- Left Image -->
		  <img 
			src="/src/assets/images/landing_1.webp" 
			alt="Landing Image 1" 
			class="w-[190px] h-auto ml-[40px] mb-[80px] md:w-[auto] md:h-[450px] md:ml-0 md:mb-[0px]"
		  />
		  <!-- Right Image -->
		  <img 
			src="/src/assets/images/landing_2.webp" 
			alt="Landing Image 2" 
			class="w-[190px] h-auto mr-[40px] mt-[80px] md:w-[auto] md:h-[450px] md:mr-0 md:mt-[0px]"
		  />
		</div>
	  
		<!-- Join The SVG (Mobile Only) -->
		<img 
		  src="/src/assets/images/mobil_join_the.svg" 
		  alt="Join The" 
		  class="w-[337px] absolute top-[20px] left-1/2 -translate-x-1/2 z-10 block md:hidden" 
		/>
	  
		<!-- Club! SVG (Mobile Only) -->
		<img 
		  src="/src/assets/images/mobil_club.svg" 
		  alt="Club!" 
		  class="w-[215px] absolute top-[430px] left-1/2 -translate-x-1/2 z-10 block md:hidden"
		/>
	  
		<!-- Desktop: Join The Club Unified SVG -->
		<img 
		  src="/src/assets/images/desktop_join_the_club.svg" 
		  alt="Join The Club!" 
		  class="hidden md:block absolute top-0 left-1/2 -translate-x-1/2 w-[592px] z-10"
		/>
	  
		<!-- Wine Doodles (Left & Right for Desktop) -->
		<div class="hidden md:flex flex-col gap-[20px] absolute left-0 top-[90px]">
		  <img src="/src/assets/images/vin1.svg" alt="Vin1" class="w-[33px]">
		  <img src="/src/assets/images/vin2.svg" alt="Vin2" class="w-[33px]">
		  <img src="/src/assets/images/vin3.svg" alt="Vin3" class="w-[27px]">
		  <img src="/src/assets/images/vin4.svg" alt="Vin4" class="w-[24px]">
		</div>
		<div class="hidden md:flex flex-col gap-[20px] absolute right-0 top-[90px]">
		  <img src="/src/assets/images/vin5.svg" alt="Vin5" class="w-[47px]">
		  <img src="/src/assets/images/vin6.svg" alt="Vin6" class="w-[47px]">
		  <img src="/src/assets/images/vin7.svg" alt="Vin7" class="w-[47px]">
		  <img src="/src/assets/images/vin8.svg" alt="Vin8" class="w-[46px]">
		</div>
	  
		<!-- Forklarende tekst -->
		<div class="absolute bottom-[120px] text-left px-xs w-full md:bottom-[140px] md:text-center md:w-[645px] md:mx-auto">
		  <h3 class="text-body font-opensans leading-relaxed md:text-headline3">
			Modtag <span class="font-bold">naturvin</span> på <span class="font-bold">abonnement</span>. Modtag tre flasker
			udvalgt naturvin, hver måned! Kom tæt på vinbønderne og få et autentisk indblik i den naturlige vinverden,
			måned efter måned.
		  </h3>

		  
		</div>
	  
		<!-- Knap (Mobile & Desktop) -->
		<div class="absolute bottom-[60px] right-0 pr-xs md:pr-0 md:text-right md:bottom-[30px]">
		  <Button variant="stroke">Læs mere her!</Button>
		</div>
	  </div>
	  



	  
	  
</MainLayout>