---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---
<MainLayout>
    <section>
        <article>

        </article>
        <article>
            <h1 class="text-orange-500 italic">Tak for din bestilling!</h1>
            <p>
                Lige om lidt vil du få en ordrebekræftelse sendt til dinmail@email.com. 
                Vi glæder os til du får pakken. Kan du ikke vente? 
                Har vi også strakslevering, som du kan tilføje her
            </p>
            <Button variant="stroke"> </Button>
        </article>
    </section>
</MainLayout>